.players-outer-div {
  height: 50%;
  padding: 10px;
}

.players-div {
  height: 100%;
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.players-div.mobile {
  transform: rotate(180deg);
}

.players-div.player2 {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.players-champion-bg {
  width: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0.5;
}

.champions-list-content.mobile {
  transform: rotate(180deg);
}

.champions-list-player {
  font-size: 20px !important;
  font-weight: bold !important;
}

.players-group {
  height: 100%;
}

.players-box {
  height: 100%;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.players-box.left {
  width: 100px;
}

.players-box.mid {
  width: calc(100% - 200px);
}

.players-box.right {
  width: 100px;
}

.button-border {
  background-color: white;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
}

.button-border.hide {
  opacity: 0;
  cursor: default;
}

.button-icon {
  height: 40px;
  aspect-ratio: 1/1;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.champion-select-btn {
  white-space: pre !important;
  line-break: auto !important;
  font-size: 20px !important;
  width: 100% !important;
}

.players-champion-img {
  aspect-ratio: 1/1;
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.champion-delevel {
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.champion-delevel.hide {
  opacity: 0;
  cursor: default;
}

.players-champion-img.level3 {
  cursor: default;
}

.players-hp-div {
  width: 100%;
  height: 90%;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  position: relative;
}

.players-hp {
  font-size: 100px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
}

.players-max-hp {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
}

.champions-list-modal {
  /* overflow-x: auto; */
}

.champions-list-div {
  height: 100%;
  overflow: auto;
}

.champions-list {
  text-align: center;
  font-size: 16px;
  padding: 7px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45) inset;
}
